body {
    background-color: lightcoral;
}
.wrapper {
    width: 300px;
    margin-left: 50px;
    margin-top: 50px;
    display: inline;
}
.main-input {
    margin: 10px;
    padding: 10px 20px;
    box-shadow: tomato 0 0;
    outline: 0;
    font-family: "Lucida Bright", Georgia, serif;
    color: #fff;
    background-color: chocolate;
    border: none;
    font-size: 22px;
    transition: box-shadow 0.2s;
    border-radius: 25px;
}
.main-input:focus {
    box-shadow: crimson 0 18px 15px -11px;
}
.main-input::-webkit-input-placeholder {
    color: floralwhite;
}
.list {
    list-style: none;
}
.list__entry {
    position: relative;
    color: white;
    font-size: 22px;
}
.delete-btn {
    position: absolute;
    top: 3px;
    left: -40px;
    cursor: pointer;
    color: #109;
    font-size: 18px;
}

input[type="checkbox"] {
    width: 3.15em;
    height: 3.15em;
    margin-top: 12px;
    position: absolute;
    margin-left: 10px;
  }

.label-1 {
    font-family: "Lucida Bright", Georgia, serif;
    color: #fff;
    border: none;
    font-size: 22px;
    padding-left: 62px;
}

.number-input {
    width: 115px;
}

.button:hover {
    color: black;
    cursor: pointer;
}